/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    /*
    html {
        @apply border-8 sm:border-blue md:border-purple lg:border-pink;
    }
    */

    h1, h2, h3, h4  {
        @apply font-serif mb-[0.5em];
    }

    h1 {
        @apply text-3xl leading-tight;
    }
    h2 {
        @apply text-2xl leading-tight;
    }
    h3 {
        @apply text-xl leading-tight;
    }

    h3 {
        @apply text-lg leading-tight;
    }
    h4 {
        @apply text-lg leading-tight;
    }

    p {
        @apply mb-[0.5em] leading-normal;
    }


  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

/* For regular laptops and smaller screens */
html {
    scroll-behavior: smooth;
    max-width: 100%; /* Allow it to expand to the full width of the screen */
}

/* For larger screens like flatscreen TVs */
@media screen and (min-width: 1600px) {
    html {
        max-width: 1400px; /* Set a specific max-width for larger screens */
        margin: 0 auto; /* Center the content horizontally */
    }

    /* Apply styles to the header for larger screens */
    header {
        max-width: 1400px; /* Set the same max-width as HTML */
        margin: 0 auto; /* Center the header content horizontally */
    }
}



input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1; 
    color: black; 
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 1; 
    color: black;
  }

  /*  Font Awesome Icons --------------------  */

.fa-solid,
.fa-brands {
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.center {
    text-align: center !important;
}

.subtle {
    opacity: .5;
    font-size: 0.8rem;
}

.button {
    background-color: #6c757d;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5a6268;
}


/* Social Hub */
.social {
    position: fixed;
    top: 50vh;
    z-index: 50;
  }
 
.social-btn {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: -6.9px;
    position: relative;
    left: -241.8px;
    transition: left 1s;
  }


@media (min-width:300px) {
    .responsive-header {
        font-size: 4.5rem;
    }
}

@media (min-width: 640px) {
    .social-btn:hover {
        left: -73.4px;
        transition: left 1s;
      }
  }
  


  @media screen and (min-width: 1600px) {
    .social {
      display: none; /* Hide the social hub on screens wider than 1600px */
    }
  }

