<footer class="p-5p flex justify-between">

    <div class="md:grid md:grid-cols-3 gap-7 text-center md:text-left">

        <div class="col-span-2 mb-9">
            <h3> Let's connect </h3>
            <p> Experience the pinnacle of opulence in our exquisite villa. Indulge in the ultimate luxury retreat in Bali. Get in touch with us today to book your unforgettable stay. </p>
        </div>

        <div class="col-span-1">
            <p> Call: <a href="tel:#"> 08123 45678 </a> </p> 
            <p> Email: <a href="mailto:#">hello@thebalivilla.com </a> </p>  
            <p> Instagram: <a href="https://www.instagram.com/">@thebalivilla</a> </p>     
        </div>

    </div>

</footer>