<footer class="p-5p flex justify-between">

    <div class="md:grid md:grid-cols-3 gap-9 text-center md:text-left">

        <div class="col-span-2 mb-9">
            <h3> Let's connect </h3>
            <p> Experience the pinnacle of opulence in our exquisite villa. Indulge in the ultimate luxury retreat in Bali. Get in touch with us today to book your unforgettable stay. </p>
        </div>

        <div class="col-span-1">
            <p class="inline-flex center"> 
                <i class="fa-solid fa-phone"></i> 
                <a href="tel:#"> 08123 45678 </a> 
            </p> <br>
            <p class="inline-flex center"> 
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:#">hello@thebalivilla.com </a> 
            </p>  <br>
            <p class="inline-flex center">
                <i class="fa-brands fa-instagram"></i>
                <a href="https://www.instagram.com/">@thebalivilla</a>
            </p>     
        </div>

    </div>

</footer>

<div class="text-center px-5p sm:px-0">
    <p class="subtle"> © 2023 All rights reserved. <br> Designed and built by Refined Island Creations. </p>
</div>