<footer class="p-5p flex justify-between">

    <div class="grid grid-cols-3">

        <div class="col-span-2">
            <h3> Let's connect </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur alias omnis veniam nihil quos aspernatur delectus illo non, iste provident doloremque, repellendus possimus. Laborum consectetur enim delectus accusamus error alias.</p>
        </div>

        <div class="col-span-1">
            <p> Call: <a href="tel:#"> 08123 45678 </a> </p> 
            <p> Email: <a href="mailto:#">hello@thebalivilla.com </a> </p>  
            <p> Instagram: <a href="https://www.instagram.com/">@thebalivilla</a> </p>     
        </div>

    </div>

</footer>